form {
  text-align: center;
  float: left;
  margin-left: 500px;
  margin-right: 10px;
}
.search {
  margin-left: 10px;
  margin-bottom: 10px;
}
.inputField {
  padding: 5px;
  height: 40px;
  border-style: none;
  border-radius: 6px;
  text-align: center;
}
/*  */
