.header {
  background-image: url("../../images/shark.gif");
  height: 130px;
  width: 100%;
  background-position: absolute;
  background-color: rgb(168, 227, 251);
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 25px;
  color: darkblue;
  margin-bottom: 5px;
}
